*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
form p {
  margin-top: 5%;
  font-size: 1.4rem;
}

.App1 h1 {
  padding: 2em;
  text-align: center;
}

.App1 ul {
  text-align: center;
}

.list {
  list-style: none;
  padding: 2rem;
  margin: 3rem;
  line-height: 4rem;
}

.list li {
  margin: 1rem;
  padding: 1rem;
  color: blue;
  border: 2px solid #ccc;
}

.card {
  box-shadow: 0 0 15px #000;
  transition: 0.2s ease-in-out;
  margin-top: 20px;
  background-color: #5ca5ee;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
}

.form {
  margin: 2rem;
  text-align: center;
}
.form button {
  margin-left: 20px;
}
button {
  background-color: aqua;
}
