* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
      font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*logo & brand*/
header {
  background-color: #000000;
  
}

.fs-3 {
  color: white;
}

img {
  filter: none;
}

/*nav toggler*/
.navbar-toggler {
  background-color: #0066cc;
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    padding: 15px;
    margin: 15px;
    text-align: center;
  }
}

/*nav bar*/
.nav-pills .nav-link.active {
  background-color: #0066cc;
  color: white !important;
}
.nav-link{
  color: white !important;
}

/*home-content*/
.home {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #5ca5ee;
  border-radius: 10px;
  display: flexbox;
  padding: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.text-justify {
  text-align: justify;
  padding: 15px;
}

.img-fluid {
  border-radius: 20px;
  box-shadow: 0px 0px 30px #090909;

  margin-left: auto;
  margin-right: auto;
}

/* cards */
.card {
  background-color:white;
 
  box-shadow: 0 0 15px #000000;
  min-height: 100%;
  transition: 0.1s ease-in-out;
}
.card:hover{
  transform: translate(0,-20px);
}
.card-img-top {
  height: 200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*contact-form*/
.form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-toggle {
  background-color: white;
  width: 165px;
  padding-left: 5px;
  color: #757171;
}

/*buttons*/
.btn {
  background-color: #0066cc;
  color: white;
  border-color: #0066cc;
  font-weight: bold;
}
.btn:hover {
  background-color: #0052a3;
  color: white;
  border-color: #0052a3;
}

/*footer*/
footer {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  padding: 12px;
  background-color: #1b2632;
  margin-top: auto;
}
